# Node.js dependencies
node_modules/

# Build output
dist/

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db

# Webpack config cache
.cache/
.cache-loader/

# Temporary files
*.tmp
*.temp
